:root {
    --absolutewhite: rgba(255, 255, 255, 1);
    --grey-75: rgba(191, 191, 191, 1);
    --black-10: rgba(26, 26, 26, 1);
    --black-06: rgba(15, 15, 15, 1);
    --black-12: rgba(31, 31, 31, 1);
  }